# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Static files
/static/

# Media files
/media/

# Virtual environment
venv/
